@import "../index.css";

.accountStatusSec {
  overflow: auto;
  width: 80vw;
  padding: 1rem;
  box-sizing: border-box;
  min-height: 200px;
  margin: 0 auto;
}
.accountStatusSec table {
  width: 100%;
  table-layout: auto;
  min-width: 600px;
  text-align: center;
  border-collapse: collapse;
  text-overflow: ellipsis;
  overflow: none;
  text-wrap: nowrap;
  box-shadow: var(--box-shadow-1);
}
.accountStatusSec thead th {
  background-color: var(--primary-color-5);
  color: var(--bckgrd-3);
}

.accountStatusSec tbody tr {
  border-bottom: 2px solid rgba(128, 128, 128, 0.45);
}
.accountStatusSec tbody tr:hover:not(:last-child) {
  background-color: var(--bckgrd-3);
}
.accountStatusSec td.doc_link {
  cursor: pointer;
  user-select: none;
  color: blue;
}

.accountStatusSec tbody tr td:nth-child(3) {
  text-align: left;
  padding-left: 10px;
}

.accountStatusSec tbody tr td,
.accountStatusSec thead tr th {
  height: 40px;
  padding: 0 0.5rem;
}

.accountStatusSec .menuIcon {
  height: 40px;
  aspect-ratio: 1/1;
  line-height: 40px;
  border-radius: 100px;
  user-select: none;
  cursor: pointer;
}
