@import "../index.css";

#reportSec {
  padding: 10px 0;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}

#reportSec .body {
  background-color: var(--bckgrd-1);
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-1);
}

#reportSec ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  max-width: 500px;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

#reportSec .selected {
  border-bottom: 2px solid black;
}
#reportSec ul li {
  text-align: center;
  cursor: pointer;
  width: 70px;
  line-height: 30px;
  height: 30px;
  font-size: 15px;
  user-select: none;
}

#reportSec .content {
  padding: 20px 5%;
  min-height: 300px;
  flex-direction: column;
}
