@import "../index.css";

.filterSec {
  padding: 10px 0;
}

.searchBar {
  position: relative;
  width: 40%;
  border: 1px solid grey;
  background-color: white;
}

.searchBar > input {
  padding: 5px;
  width: calc(100% - 35px);
  box-sizing: border-box;
  border: none;
}

.searchBar > input:focus {
  outline: none;
}
.searchBarIcon {
  position: absolute;
  height: 100%;
  bottom: 0;
  right: 5px;
}

.searchBarIcon > span {
  color: grey;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}

.filterOpt {
  padding-right: 5px;
  max-width: 30%;
  font-size: 0.7rem;
  color: var(--primary-color-5);
  cursor: pointer;
}

.tableSec {
  min-height: 300px;
  overflow: auto;
}

.tableSec table {
  width: 100%;
  margin: 0 auto;
  table-layout: auto;
  border-collapse: collapse;
  margin-bottom: 2rem !important;
}

.tableSec thead th {
  position: sticky;
  top: 0;
  background-color: var(--primary-color-5);
  color: white;
}
.tableSec tr {
  height: 40px;
  cursor: pointer;
}

.tableSec tr:nth-child(odd) {
  background-color: var(--bckgrd-2);
}

.tableSec tbody tr:nth-child(even),
.tableSec tr:hover {
  background-color: var(--bckgrd-3);
}

.tableSec th,
.tableSec td {
  font-size: 0.8rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
  max-width: 300px !important;
}

.tableSec td:not(:last-child) {
  border-right: 1px solid black;
}

.tableAction,
.filterOpt {
  color: blue;
  font-size: 0.7rem !important;
  cursor: pointer;
  word-wrap: unset;
  user-select: none;
}
.tableAction span:not(:last-child) {
  padding-right: 10px;
}

.tableAction span.delete {
  color: rgb(217, 13, 13);
}

.deleteRowIcon {
  color: rgb(217, 13, 13);
  user-select: none;
  cursor: pointer;
}

.sortSign {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 0.7rem;
  padding: 0 7px;
}

.desc {
  transform: rotate(180deg);
}

.tableSec .pageControl {
  display: flex;
  justify-content: flex-end;
  margin: -1rem 0 5rem auto;
  max-width: 200px;
}

.tableSec .pageControl span {
  color: blue;
  font-weight: 600;
  font-size: 13px;
  user-select: none;
  cursor: pointer;
  height: 20px;
  line-height: 20px;
  margin: 0 10px;
}
