@import "../components/index.css";

.contentMainBody {
  width: 90vw;
  margin: 1rem auto;
}

.contentMainBody ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 300px;
  margin: 1.5rem 0;
}

.contentMainBody .selected {
  border-color: black;
  font-weight: 600;
}

.contentMainBody ul li {
  text-align: center;
  cursor: pointer;
  width: 100px;
  line-height: 30px;
  height: 30px;
  font-size: 15px;
  user-select: none;
  border-bottom: 2px solid transparent;
}

.addNewItem {
  position: fixed;
  right: 5%;
  font-size: 2rem;
  bottom: 5%;
  background-color: var(--primary-color-4);
  box-shadow: var(--box-shadow-1);
  border-radius: 30px;
  height: 40px;
  aspect-ratio: 1/1;
  text-align: center;
  line-height: 32px;
  color: var(--bckgrd-2);
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: var(--primary-color-5);
  }
}

.centerFormContainer {
  height: 100vh;
  width: 100vw;
  background-color: var(--bckgrd-3);

  .pageLink {
    font-size: 0.7rem;
    cursor: pointer;

    &.onPages {
      color: var(--primary-color-8);
      font-weight: bold;
    }
  }

  .formBody {
    max-width: 400px;
    max-height: 600px;
    box-shadow: var(--box-shadow-1);
    border-radius: 10px;
  }

  a {
    margin: 10px;
    color: navy;
    font-size: 0.7rem;
    display: block;
  }
}

.projectInfo {
  .userOption {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p {
      padding: 5px 10px;
      border-bottom: 2px solid transparent;
      user-select: none;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &.selected {
        border-color: black;
      }
    }
  }
}
