@import "../components/index.css";

.contentMainBody {
  width: 90vw;
  margin: 1rem auto;
}

.contentMainBody ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 300px;
  margin: 1.5rem 0;
}

.contentMainBody .selected {
  border-color: black;
  font-weight: 600;
}

.contentMainBody ul li {
  text-align: center;
  cursor: pointer;
  width: 100px;
  line-height: 30px;
  height: 30px;
  font-size: 15px;
  user-select: none;
  border-bottom: 2px solid transparent;
}

.addNewItem {
  position: fixed;
  right: 3%;
  font-size: 2rem;
  bottom: 5%;
  background-color: var(--primary-color-4);
  box-shadow: var(--box-shadow-1);
  border-radius: 30px;
  height: 40px;
  aspect-ratio: 1/1;
  text-align: center;
  line-height: 32px;
  color: var(--bckgrd-2);
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: var(--primary-color-5);
  }
}

.centerFormContainer {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--bckgrd-3);
  position: relative;
}
.prevPageBtn {
  position: absolute;
  top: 10px;
  left: 30px;
}

.prevPageBtn span {
  color: var(--primary-color-6);
  user-select: none;
  cursor: pointer;
}
.centerFormContainer .pageLink {
  font-size: 0.7rem;
  cursor: pointer;

  &.onPages {
    color: var(--primary-color-8);
    font-weight: bold;
  }
}

.centerFormContainer .formBody {
  max-width: 400px;
  max-height: 600px;
  box-shadow: var(--box-shadow-1);
  border-radius: 10px;
}

.centerFormContainer .formBody img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.centerFormContainer a {
  margin: 10px;
  color: navy;
  font-size: 0.7rem;
  display: block;
}

.projectInfo .userOption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.projectInfo p {
  padding: 5px 10px;
  border-bottom: 2px solid transparent;
  user-select: none;
  cursor: pointer;
}
.projectInfo p:not(:last-child) {
  margin-right: 20px;
}

.projectInfo p.selected {
  border-color: black;
}

.materialSummary {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  margin: 10px;
}
.materialSummary table tr {
  text-align: right;
  color: var(--primary-color-6);
  font-size: 12px;
}
.materialSummary td:last-child {
  padding: 5px 0 5px 20px;
}

.orderInfo {
  position: relative;
  margin: 0;
}
.orderInfo .orderTable,
.orderInfo .supplierTable {
  border-collapse: collapse;
  text-align: center;
  margin: 40px auto;
  width: 80%;
  box-shadow: var(--box-shadow-1);
}
.orderInfo td,
.orderInfo th {
  padding: 10px;
}

.orderInfo th {
  background-color: var(--primary-color-6);
  color: white;
}

.orderInfo td:hover,
.orderInfo td:active {
  background-color: var(--bckgrd-3);
}
