:root {
  --primary-color-1: #81d8d0;
  --primary-color-2: #74c2bb;
  --primary-color-3: #67ada6;
  --primary-color-4: #5a9792;
  --primary-color-5: #416c68;
  --primary-color-6: #345653;
  --primary-color-7: #27413e;
  --primary-color-8: #1a2b2a;

  --secondary-color-1: rgb(16, 19, 19);

  --bckgrd-1: rgb(248, 245, 245);
  --bckgrd-2: rgb(251, 251, 255);
  --bckgrd-3: rgb(230, 226, 226);

  --box-shadow-1: 3px 5px 10px rgba(50, 50, 50, 0.557);
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
}

body,
html,
.App,
#root {
  background-color: var(--bckgrd-2);
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: color 0.3s ease, background-color 0.3s ease;
  margin-bottom: 2rem;
}

* ::selection {
  color: white;
  background-color: var(--primary-color-5);
}

* ::-moz-selection {
  color: white;
  background-color: var(--primary-color-5);
}

* ::-webkit-selection {
  color: white;
  background-color: var(--primary-color-5);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
}

* {
  scrollbar-width: thin;
  scrollbar-color: grey #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
}

.spaceBetween {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h6 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: normal;
  text-align: center;
  padding: 1rem 0;
}

hr {
  max-width: 90vw;
  margin: 0 auto;
}

body > iframe {
  display: none;
}

button,
input[type="submit"],
input[type="reset"] {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--primary-color-4);
  color: var(--bckgrd-2);
  font-size: 0.8rem;
  box-shadow: var(--box-shadow-1);
  transition: all 0.1s ease-in-out;
  border-radius: 1rem;
  cursor: pointer;
}

button:hover,
button:active,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="reset"]:hover,
input[type="reset"]:active {
  background-color: var(--primary-color-6);
  transition: background-color 0.2s ease-in;
}

select {
  background-color: inherit;
  border: 1px solid var(--primary-color-5);
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 4px;
  width: 100px;
  outline: none;
  color: var(--primary-color-8);
}
