@import "../index.css";

.navBar {
  background-color: var(--bckgrd-1);
  position: sticky;
  height: 60px;
  z-index: 100;
  box-shadow: var(--box-shadow-1);
  margin-bottom: 15px;
}

.hoverPointer {
  user-select: none;
  cursor: pointer;
}

#logo {
  padding: 10px 0 10px 20px;
  cursor: pointer;
  width: 120px;
  display: block;
}

#logo img {
  width: 100%;
}

.navBar li {
  list-style-type: none;
  display: inline-block;
  min-width: 65px;
  font-size: 0.8rem;
  text-align: center;
  user-select: none;
  text-transform: capitalize;
}

.navBar li:not(:nth-last-child(1)):not(:nth-last-child(2)) {
  border-right: 1px solid var(--secondary-color-1);
}

.navBar li:last-child {
  background-color: var(--primary-color-4);
  border-radius: 30px;
  border: none;
  padding: 5px;
}

.navBar li:last-child:hover {
  background-color: var(--primary-color-6);
}

.navBar #logout {
  color: var(--bckgrd-2);
}

.navBar a {
  text-decoration: none;
  color: var(--secondary-color-1);
  padding: 5px;
}

.navBar ul {
  display: block;
  padding: 10px;
  overflow: auto;
  cursor: pointer;
  background-color: var(--bckgrd-1);
}

.navBar .sideBar {
  display: flex;
  justify-content: flex-end;
  z-index: 99;
}

.navBar a:not(#logout, #logo):hover {
  border-bottom: 2px solid var(--secondary-color-1);
}

.navBar .active {
  font-weight: 600;
  border-bottom: 2px solid var(--secondary-color-1);
}

.navBar .hamburger {
  display: none;
  height: 27px;
  width: 35px;
  margin-right: 20px;
  flex-direction: column;
  cursor: pointer;
}

.navBar .hamburger > span {
  background-color: var(--primary-color-4);
  height: 6px;
  border-radius: 5px;
  width: 100%;
  display: block;
  transition: 0.3s;
}

.navBar .hamburger > span:nth-child(2) {
  margin: 4px 0;
}

.navBar .hamburger.open > span:nth-child(1) {
  transform: rotate(45deg) translateY(13px);
}

.navBar .hamburger.open > span:nth-child(2) {
  opacity: 0;
}

.navBar .hamburger.open > span:nth-child(3) {
  transform: rotate(-45deg) translateY(-13px);
}

@media (max-width: 680px) {
  .navBar .hamburger {
    display: flex;
  }

  .navBar ul {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 200px;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    right: -100%;
    transition: 0.6s;
  }

  .navBar li {
    display: block;
    border: none !important;
  }

  .navBar .sideBar {
    display: block;
    width: 100%;
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: -100%;
    height: calc(100vh - 60px);
    align-items: flex-end;
    background-color: rgba(18, 17, 17, 0.8);
    backdrop-filter: blur(5px);
    opacity: 0;
  }

  .navBar .sideBar.show > ul {
    right: 0;
    transition: right 0.5s;
  }

  .navBar .sideBar.show {
    opacity: 1;
    right: 0;
  }
}
