@import "../index.css";

.progressBarWrapper {
  height: auto;
  position: relative;
  padding: 10px;
  background-color: transparent;
  min-width: 100px;

  span {
    position: absolute;
    background-color: transparent;
    user-select: none;
  }

  .percentage {
    font-size: 1.3rem;
    top: 36%;
  }

  .title {
    font-weight: 200;
    word-wrap: break-word;
    max-width: 100px;
    font-size: 0.7rem;
    bottom: 15%;
  }
  &.large {
    width: 150px !important;
  }

  &.small {
    max-width: 100px;
  }
}
